doctype html
html
    head
        <script src="https://kit.fontawesome.com/3c4493b5f6.js" crossorigin="anonymous"></script>
        title #{pageTitle} | #{siteName}
    body
        header
            include ../partials/header
        main
            block content
        footer
            include ../partials/footer
        